<section id="beneficios" class="position-relative">
  <div class="titulo" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="15000">
    <h1 class="fw-bold text-white text-center">Conoce los beneficios de tu billetera!!!</h1>
  </div>
  <div class="contenedor-imagenes">
    <div class="imagen">
      <img src="../../../assets/imagenes/imagemodo7.jpg" alt="">
      <div class="overlay">
        <h4>Realiza tus transacciones desde la comodidad de tu hogar</h4>
      </div>
    </div>
    <div class="imagen">
      <img src="../../../assets/imagenes/imagemodo4.jpg" alt="">
      <div class="overlay">
        <h4>También podrás hacer operaciones con Criptomonedas</h4>
      </div>
    </div>
    <div class="imagen">
      <img src="../../../assets/imagenes/imagemodo10.jpg" alt="">
      <div class="overlay">
        <h4>Garantizamos la Seguridad en tus transacciones</h4>
      </div>
    </div>
    <div class="imagen">
      <img src="../../../assets/imagenes/imagemodo9.jpg" alt="">
      <div class="overlay">
        <h4>Sigue tu actividad financiera desde un único lugar</h4>
      </div>
    </div>
  </div>
</section>
