<section id="gridbilletera">
  <div class="position-relative contenedor">
    <div class="d-flex flex-column justify-content-center align-items-center position-relative aplicacionWeb">
      <p class="fs-4 text-white mb-0">Aplicación Web</p>
      <img src="../../../assets/imagenes/aplicacionweb.jpg" alt="" class="img-fluid imagenbilletera">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center position-relative comprasVrtuales">
      <p class="fs-4 text-white mb-0">Compras Online</p>
      <img src="../../../assets/imagenes/comprasvirtuales1.jpg" alt="" class="img-fluid imagenbilletera">
    </div>
    <div class="d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative cuentaBancaria">
      <img src="../../../assets/imagenes/cuentabancaria.jpg" alt="" class="img-fluid imagenbilletera">
      <p class="fs-4 text-white mb-0">Sin Ctas Bancarias</p>
    </div>
    <div class="d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative comprasOnline">
      <img src="../../../assets/imagenes/enviaryrecibirdinero.jpg" alt="" class="img-fluid imagenbilletera">
      <p class="fs-4 text-white mb-0">Enviar y Recibir $</p>
    </div>
    <div class="icono-derecha">
      <i class="bi bi-arrow-right-circle-fill"></i>
    </div>
    <div class="icono-abajo">
      <i class="bi bi-arrow-down-circle-fill"></i>
    </div>
    <div class="icono-izquierda">
      <i class="bi bi-arrow-left-circle-fill"></i>
    </div>
    <div class="icono-arriba">
      <i class="bi bi-arrow-up-circle-fill"></i>
    </div>
  </div>
</section>
