.navbar-brand {
  padding-left: 2rem;
  font-family: 'Pacifico', cursive;
}

button.navbar-toggler {
  background: #0d6efd;
}

.nav-link {
  color: #3f3f3f;
  color: #f7f3f3 !important;

}

.nav-item {
  padding-right: 1rem;
}


ul {
  padding-left: calc((100vw - 970px)/2);
}

.nav-link {
  text-decoration: none;
  background-image: linear-gradient(#0d6efd, #0d6efd);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 4px;
  transition: background-size .3s;
}

.nav-link.active, .nav-link:hover, .nav-link:focus {
  background-size: 60% 4px;
}

.imagen-background {
  top: 0;
  left:0;
  width: 100vw;
  height: 100vh;
  /* z-index: 1; */
}
@media screen and (min-width:576px) {

  .nav-link.active, .nav-link:hover, .nav-link:focus {
    background-size: 45% 4px;
  }

}

@media screen and (min-width:768px) {

  .nav-link.active, .nav-link:hover, .nav-link:focus {
    background-size: 40% 4px;
  }

}

@media screen and (min-width:992px) {

  .nav-link.active, .nav-link:hover, .nav-link:focus {
    background-size: 30% 4px;
  }

}

@media screen and (min-width:1200px) {

  .nav-link.active, .nav-link:hover, .nav-link:focus {
    background-size: 100% 4px;
  }

}
