<div class="page">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in"><label for="tab-1" class="tab">Inicia Sesión</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registro</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="user" class="label">Nombre o Email</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input id="check" type="checkbox" class="check" checked>
            <label for="check"><span class="icon"></span> Recuérdame</label>
          </div>
          <div class="group">
            <input type="submit" class="button" value="Inicia Sesión">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <a href="#forgot">Olvidaste tu contraseña?</a>
          </div>
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <label for="user" class="label">Nombre</label>
            <input id="user" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Email</label>
            <input id="pass" type="text" class="input">
          </div>
          <div class="group">
            <label for="pass" class="label">Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="pass" class="label">Repite Contraseña</label>
            <input id="pass" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <input type="submit" class="button" value="Registrate">
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Ya tienes una Cuenta?</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
