<section id="home2" class="container-home position-relative">
  <div class="call-to-action text-white text-center pt-3" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="15000">
    <h1 class="fw-bold">Convertí tu dispositivo en tu billetera!!!</h1>
    <button class="btn btn-primary rounded px-3 py-2 text-white" routerLink="registro">Crea tu Cuenta</button>
  </div>
  <div class="contenedorImagen pt-5">
    <div id="carousel" class="carousel slide overflow-hidden" data-bs-ride="carousel">
      <div id="carouselInner" class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="imagenCarrusel slide1"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual61.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide2"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/slide1.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide1"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide3"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/slide2.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide4"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual11.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide5"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual41.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide6"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual51.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <div class="imagenCarrusel  slide7"></div>
          <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual51.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
        </div>
      </div>
    </div>
  </div>
</section>
