.container-home {
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-to-action {
  /* position: absolute; */
  /* top:3vh; */
  /* left: 10vw; */
  /* width: 80vw; */
  z-index: 1;
}

.contenedorImagen {
  position: relative;
  /* left: 10vw; */
  width: 80vw;
  /* height: 25rem; */
  /* height: auto; */
  /* top: 22vh; */
  display: flex;
  justify-content:center;
  /* align-items: center; */
  margin-bottom: 30px;
}

#carousel {
  /* position: relative;
  flex-basis: 50%; */
  display:flex;
  align-items: center;
  width: 100%;
  height: 56vh;
  /* margin-right: 2rem; */
  border-radius: 30px;
  z-index: 11;
}

.imagenCarrusel {
  /* background-image: url("../../../assets/imagenes/Wallet_Isometric.svg"); */
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  border-radius: 20px;
  margin-right: 2rem;
  z-index: 11;
  /* height: 100vh; */
}

.slide1 {
  background-image: url("../../../assets/imagenes/digital-wallet.jpeg");
}
.slide2 {
  background-image: url("../../../assets/imagenes/billeteravirtual61.jpg");
}
.slide3 {
  background-image: url("../../../assets/imagenes/slide1.jpg");
}
.slide4 {
  background-image: url("../../../assets/imagenes/slide2.jpg");
}
.slide5 {
  background-image: url("../../../assets/imagenes/billeteravirtual11.jpg");
}
.slide6 {
  background-image: url("../../../assets/imagenes/billeteravirtual41.jpg");
}
.slide7 {
  background-image: url("../../../assets/imagenes/billeteravirtual51.jpg");
}

@media screen and (min-width: 576px) {
  .call-to-action {
    left:0;
    text-align: center;
    width: 80vw;
  }

  #carousel {
    width: 80%;
  }



}


@media screen and (min-width:992px){
  .call-to-action {
    top: 30vh;
    /* left: 5%; */
    width: 65vw;
  }

  .contenedorImagen {

    width: 70vw;

  }

}

@media screen and (min-width:1200px) {

  .container-home {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .call-to-action {
      left: 0;
      width: 33vw;
  }
  .contenedorImagen {
    /* position: relative;
    left: 40vw; */
    width: 50vw;
    height: 40rem;
    align-items: center;
    /* display: flex;
    justify-content:flex-end;
    align-items: center; */
  }

  #carousel {
    height: 70vh;
  }
}
