<section id="billeterapage" class="position-relative mx-auto text-center">

  <!-- <div class="backgroundBilletera"></div> -->

  <h4 class="px-3 pt-3 pb-3 fs-2 text-white position-relative titulo">
    <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
  </h4>
  <h4 class="px-3 pt-3 pb-3 fs-4 text-white position-relative titular">
    Es una<span class="fs-3 remarcado px-2">aplicación web</span>que te permite<span class="fs-3 remarcado px-2">hacer compras, enviar y recibir dinero</span>desde tu<span class="fs-3 remarcado px-2">computadora o móvil</span>en unos pocos y sencillos pasos.<span class="fs-3 remarcado px-2">Sin necesidad de que estés bancarizado</span> </h4>

    <div class="container w-75 pt-2 pb-5 position-relative">
      <div class="row d-flex flex-column flex-lg-row">
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center position-relative mb-5 aplicacionWeb">
          <p class="fs-4 text-white mb-0">Aplicación Web</p>
          <img src="../../../assets/imagenes/aplicacionweb.jpg" alt="" class="imagenbilletera">
          <div class="d-none d-lg-inline icono-derecha">
            <i class="bi bi-arrow-right-circle-fill"></i>
          </div>
          <div class="d-lg-none icono-abajo">
            <i class="bi bi-arrow-down-circle-fill"></i>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center position-relative mt-3 comprasVrtuales">
          <p class="fs-4 text-white mb-0">Compras Online</p>
          <img src="../../../assets/imagenes/comprasvirtuales1.jpg" alt="" class="imagenbilletera">
          <div class="icono-abajo">
            <i class="bi bi-arrow-down-circle-fill"></i>
          </div>
        </div>
      </div>
      <div class="row mt-5 pt-3 d-flex flex-column-reverse flex-lg-row">
        <div class="col-12 col-lg-6 d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative mt-3 mb-5 cuentaBancaria">
          <img src="../../../assets/imagenes/cuentabancaria.jpg" alt="" class="imagenbilletera">
          <p class="fs-4 text-white mb-0">Sin Cuentas Bancarias</p>
          <div class="d-none icono-arriba d-lg-inline">
            <i class="bi bi-arrow-up-circle-fill"></i>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative mb-5 comprasOnline">
          <img src="../../../assets/imagenes/enviaryrecibirdinero.jpg" alt="" class="imagenbilletera">
          <p class="fs-4 text-white mb-0">Enviar y Recibir $</p>
          <div class="d-none icono-izquierda d-lg-inline">
            <i class="bi bi-arrow-left-circle-fill"></i>
          </div>
          <div class="icono-abajo d-lg-none">
            <i class="bi bi-arrow-down-circle-fill"></i>
          </div>
        </div>
      </div>
    </div>

</section>


